.mainBody {
    background-color: #0b0537;
    color: white;
    text-align: left;
    margin-left: 10px;
}

#customNavBar {
    background-color: #341b71 !important;
    color: white !important;
}

#customSearchButton {
    background-color: #9167c8 !important;
    color: white !important;
}

.NavBarLink {
    color: white !important;
}

.buttonCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}


body {
    background-color: #0b0537;
}

star-rating .on {
    color: #ffd700;
}
}


.star-rating .off {
    color: #e4e5e9;
}


.star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gameInfoBox {
    border-radius: 25px;
    background-color: #73AD21;
    padding: 20px;
    width: 1840px;
    height: 400px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2f199e;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}
