.mainBody {
    background-color: #0b0537;
    color: white;
    text-align: left;
    margin-left: 10px;
    padding-top: 55px;
}

#customNavBar {
    background-color: #341b71 !important;
    color: white !important;
    position: fixed;
    top: 0 ;
    left:0;
    width: 100%;
}

#customSearchButton {
    background-color: #9167c8 !important;
    color: white !important;
}

.NavBarLink {
    color: white !important;
}

.buttonCenter {
    grid-column: 2 !important;
    grid-row: 4 !important;
    place-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commentsGrid {
    grid-column: 1 !important;
    grid-row: 5 !important;
    grid-column: span 3 !important;
}


body {
    background-color: #0b0537;
}

star-rating .on {
    color: #ffd700;
}
}


.star-rating .off {
    color: #e4e5e9;
}


.star-rating {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}


.submitErrorMessage {
    color: red;
    text-align: center;
}

.submittedText {
    text-align: center;
    grid-column: 2 !important;
    grid-row: 4 !important;
    place-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commentCards {
    background-color: #613ba5;
    color: white;
}

.gameInfoBox {
    border-radius: 25px;
    background-color: #73AD21;
    padding: 20px;
    background-color: #2f199e;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;
}

.gameTitle {
    grid-column: 1;
    grid-row: 1;
    grid-column: span 2;
}

.gameInformation {
    grid-column: 1;
    grid-row: 2;
    grid-column: span 3;
}

.gameAverageRating {
    grid-column: 3;
    grid-row: 1;
    grid-column: span 2;
    text-align: right;
}

.commentsLoadingMessage {
    grid-column: 1;
    grid-row: 5;
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commentsLoadingErrorMessage {
    grid-column: 1;
    grid-row: 5;
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.gamesList {
    border-radius: 25px;
    background-color: #73AD21;
    padding: 20px;
    background-color: #2f199e;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    margin: 20px;
}

.commentLoadingSpinner {
    grid-column: 1;
    grid-row: 5;
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameInfoLoadingSpinner {
    grid-column: 1;
    grid-row: 1;
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
}


.registerBox {
    border-radius: 25px;
    background-color: #73AD21;
    padding: 20px;
    background-color: #2f199e;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
}

.emailInput {
    grid-column: 1;
    grid-row: 1;
    grid-column: span 1;
}

.passwordInput {
    grid-column: 1;
    grid-row: 2;
    grid-column: span 1;
}

.passwordRequirementText{
    color: white;
}

.registerButton{
    padding-top: 5px;
}
